.filter-msg{
    background-color: lightblue;
    color: black;
}
.table-headers{
    background-color: #000c;
    color: #fff;
}
.table-parent{
    width: 100%;
}
.table-data{
    text-align: center;
}