.footer-body{
    background-color: #000c;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer-item{
    color: #fff;
    font: bolder;
    background-color: #FA7268;
}